<!DOCTYPE html>
<html lang="en">
<head>
    {{>link}}
    
    <title>Weather App</title>
</head>
<body>
   {{>navbar}}

 <div class="container-fluid homehead">
       <div class="row">
           <div class="col-md-10 col-12 mx-auto">
            <div class="row">
             {{!-- left --}}
            <div class="col-md-6 col-12 order-1  lldiv ps-4">
                <div class="ldiv d-flex justify-content-center align-items-start  flex-column">
                    <h3 class="text-secondary">Welcome to SD Technical World</h3>
                    <h1 class="text-capitalize mt-4">I am A<span class="sph1">MERN Stack Developer</span></h1>
                    <h1> Youtuber AND Freelancer</h1>
                    <button class="btn btncls mt-5 ">About Me</button>
                    
                                    </div>

            </div>


                  {{!-- right --}}
            <div class="col-md-6 col-12 order-0">
                <div class="ldiv    ddf1  ">
  <div class="carousel-inner d-flex ">
    <div class="carousel-item active">
      <img class="image-fluid car" src="img/cmen.svg"  alt="">
    </div>
   
  </div>
 
</div>
            
            
            </div>
            
            </div>

            </div>


           </div>
       </div>
   </div>

     {{>footer}}

    
</body>
</html>