<!DOCTYPE html>
<html lang="en">
<head>
    {{>link}}
    
    
       <title>Weather App</title>
</head>
<body>
   {{>navbar}}
{{!-- <div class="erehead"> --}}
 <div class="ere">
     <img src="http://lh5.ggpht.com/-BT2vrN7opxY/T29IOqvfO8I/AAAAAAAAGJQ/_UUXI7_-n7g/image%25255B10%25255D.png?imgmax=800" class="er" />
    <a href="/"> <button class="btn ebtn"  >Go back</button></a>
 </div>
 {{!-- </div> --}}
     {{>footer}}

    
</body>
</html>